<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MainApp</title>
</head>
<body>
    <h2>Send Email</h2>   
    <form method = "post" action="/">
        <input name="email" type="email" placeholder = "Enter your email"/>
        <button type="submit" >send</button>
    </form> 
    <hr>
    <a href="/about">Go To About Page</a> 
    <br>
    <a href="/contact">Go To Contact Page</a>
</body>
</html>